/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.slide-1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.slide-1 > #ishuara {
    position: absolute;
    height: 200px;
    width: 200px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    border-radius: 50%;

    transform-origin: center center;
    overflow: visible;
}

.slide-1 > #world {
    position: absolute;
    height: 120px;
    width: 1000px;
}

.slide-1 > #color {
    position: absolute;
    height: 130px;
    width: 500px;
}

.slide-1 > #blind {
    position: absolute;
    height: 120px;
    width: 450px;
}

.slide-1 > #women {
    position: absolute;
    font-family: Milkshake, cursive;
    text-transform: capitalize;
    font-size: 120px;
}

.slide-1 > #men {
    position: absolute;
    font-family: Milkshake, cursive;
    text-transform: capitalize;
    font-size: 120px;
}

#name {
    position: absolute;
    font-size: 32px;
    font-family: Arial, serif;
}

#source {
    position: absolute;
    font-size: 22px;
    font-family: Arial, serif;
}